body {
  background-color: darkorange;
}

h1 {
  color: Black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: bold;

}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: Indigo;
  text-align: left;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: Black;
  text-align: left;
  font-style: bold;
}

ul {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: Black;
  text-align: left;
}

table, th, td {
border:1px solid black;
}

 /* unvisited link */
a:link{
color:MediumBlue;
}
 
 /* visited link */
a:visited{
color: DeepSkyBlue;
}
 /* mouse over link */
a:hover{
color:OrangeRed;
}
 /* selected link */
a:active{
color:DarkMagenta;
}

.box {
  font-family:'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  line-height: 100px;
  float: left;
}

.ui.tabular.menu {
    margin-bottom:1em;
    border-color: lime;
}

.ui.tabular.menu .item {
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-weight:bold;
}

.ui.tabular.menu .item:hover {
    background-color:lightblue;
    color:black;
    border-radius: 0rem 1rem 5px 5px;
    border-color: lightgreen;
}

.ui.tabular.menu .active.item {
    background-color:darkblue;
    color:black;
    border-radius: 0rem 1rem 5px 5px;
    border-color: lime;
}

.ui.bottom.attached.segment {
  background: none transparent;
  border-color: black;
}